h4 {
    margin-left: 35%;
}
#lbl_pass{
    margin-left: 35%;
}
#confirm_pay{
    -webkit-appearance: none;
    background: #92c100;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 25%;
    margin-top: 1%;
    height: 5%;
    margin-left: 35%;
}
#checkpass {
    width: 25%;
    height: 5%;
    margin-top: 1%;
    text-align: center;
    margin-left: 35%;

}